.venv
venv
.idea
__pycache__
relatorio_carros.pdf
relatorio_motos.pdf
relatorio_usuarios.pdf
relatorio_receita_despesa.pdf
relatorio_clientes_compras.pdf
relatorio_parcelamentos.pdf
relatorio_manutencoes.pdf
upload/qrcodes